        <script type="application/javascript">
            function toggleResponsiveMenu() {
                let mobileMenu = document.getElementById("mobile-menu");
                if (mobileMenu.classList.contains("expanded")) {
                    mobileMenu.classList.remove("expanded");
                } else {
                    mobileMenu.classList.add("expanded");
                }
            }
        </script>
    </body>
</html>