<div class="header">
    <div class="mobile">
        <!--<div class="header__subtitle">Cyberneticist</div>-->
        <div class="menu" id="mobile-menu">
            <a class="menu__item" href="/">hac.ker.gs</a>
            <a class="menu__item active" href="/release-notes/">Release Notes</a>
            <a class="menu__item" href="/bug-tracker/">Bug Tracker</a>
            <a class="menu__item" href="/build-info/">Build Info</a>
            <a href="javascript:void(0);" class="icon" onclick="toggleResponsiveMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <div class="desktop">
        <div class="header__title"><a href="/">hac.ker.gs</a></div>
        <div class="menu">
            <a class="menu__item underline progress active" href="/release-notes/">Release Notes</a>
            <a class="menu__item underline progress" href="/bug-tracker/">Bug Tracker</a>
            <a class="menu__item underline progress" href="/build-info/">Build Info</a>
        </div>
    </div>
</div>