<!-- Copyright 2020 Google LLC                                                -->
<!--                                                                          -->
<!-- Licensed under the Apache License, Version 2.0 (the "License");          -->
<!-- you may not use this file except in compliance with the License.         -->
<!-- You may obtain a copy of the License at                                  -->
<!--                                                                          -->
<!--      http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                          -->
<!-- Unless required by applicable law or agreed to in writing, software      -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,        -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!-- See the License for the specific language governing permissions and      -->
<!-- limitations under the License.                                           -->

<div class="header">
    <div class="mobile">
        <!--<div class="header__subtitle">Cyberneticist</div>-->
        <div class="menu" id="mobile-menu">
            <a class="menu__item" href="/">hac.ker.gs</a>
            <a class="menu__item active" href="/release-notes/">Release Notes</a>
            <a class="menu__item" href="/bug-tracker/">Bug Tracker</a>
            <a class="menu__item" href="/build-info/">Build Info</a>
            <a href="javascript:void(0);" class="icon" onclick="toggleResponsiveMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <div class="desktop">
        <div class="header__title"><a href="/">hac.ker.gs</a></div>
        <div class="menu">
            <a class="menu__item underline progress active" href="/release-notes/">Release Notes</a>
            <a class="menu__item underline progress" href="/bug-tracker/">Bug Tracker</a>
            <a class="menu__item underline progress" href="/build-info/">Build Info</a>
        </div>
    </div>
</div>
