{{> _header }}
<div class="container">
    {{> _navigation }}
    <div class="body">
        <div class="paragraph">
            <div class="title">Build info</div>
            <div class="subtitle">aka About</div>
        </div>
    </div>
    <div class="footer">
        February, 2020
    </div>
</div>
{{> _footer }}