<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HttpPort" value="50001" />
    <add key="TotopoResourcesPath" value="/home/gsandoval/programming/totopo/resources/totopo" />
    <add key="ApplicationResourcesPath" value="/home/gsandoval/programming/totopo/resources/hackergs" />
  </appSettings>
</configuration>