<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HttpPort" value="50001" />
    <add key="TotopoResourcesPath" value="/home/gsandoval/programming/totopo/resources/totopo" />
    <add key="ApplicationResourcesPath" value="/home/gsandoval/programming/totopo/resources/hackergs" />
    <add key="ResourcesBucketBaseUri" value="totopo.ker.gs" />
    <add key="ResourcesCdnBaseUrl" value="https://storage.googleapis.com/hac.ker.gs" />
    <add key="TemplateCachingTimeout" value="00:01:00" />
    <add key="LoggingMinLevel" value="Verbose" />
    <add key="CloudProjectName" value="ker-gs" />
    <add key="AlsoLogToConsole" value="true" />
    <add key="ServingStrategy" value="local" />
  </appSettings>
</configuration>